*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.intro{
height: 667px;
background-image: url(images/code.jpg);
background-repeat: no-repeat;
background-size: cover;
}


.introcontent{
color: white;
float: left;
margin-left: 34.5%;
margin-top: 200px;
}


.introtxt{
color: white;
float: left;
margin-left: 22%;
margin-top: 15px;
font-size: 20px;
}


.introtxt1{
color: white;
float: left;
margin-left: 38.5%;
font-size: 20px;
}


.readmore{
float: left;
margin-top: 30px;
margin-left: 45.5%;
margin-right: 18%;
margin-bottom: 25px;
padding: 1.5%;
border: 1px solid gray;
background-color: rgb(61, 59, 59);
color: white;
font-size: 20px;
}


#a1:hover{
display: inline-block;
color: black;
background-color: white;
}

#a1{
color: white;
text-decoration: none;
}


#a2{
color: rgb(100, 100, 209);
text-decoration: none;
}


.divider{
height: 200px;
background-color: white;
}


.divider2{
    height: 170px;
    background-color: white;
    }


.dividerbox{
color: black;
float: left;
margin-left: 18%;
margin-top: 25px;
width: 31%;
overflow: hidden;
}


p{
overflow: hidden;
}


.contentbox1{
float: left;
margin-top: 30px;
height: 550px;
width: 300px;
margin-left: 19.5%;
background-repeat: no-repeat;
background-image: url(images/picture1.jpg); 
background-color: white;
}

.contentbox2{
float: left;
margin-top: 30px;
height: 550px;
width: 300px;
margin-left: 1%;
background-repeat: no-repeat;
background-image: url(images/picture2.jpg); 
background-color: white;
}


.contentbox3{
float: left;
margin-top: 30px;
height: 550px;
width: 300px;
margin-left: 1%;
background-repeat: no-repeat;
background-image: url(images/picture3.jpeg); 
background-color: white;
}


.dividerbox2{
color: black;
margin-left: 5%;
float: left;
margin-top: 25px;
width: 31%;
overflow: hidden;
}


.mid{
height: 615px;
background-color: rgb(31, 29, 29);
}


.contact{
float: left;
height: 300px;
width: 50%;
background-color: rgb(96, 127, 211);
}


.about{
float: left;
height: 300px;
width: 50%;
background-color: rgb(31, 29, 29);
}


.end{
height: 400px;
background-color: black;
}

.endtxt{
float: left;
color: white;
margin-top: 45px;
margin-left: 20%;
}

.endlink{
    float: right;
    color: white;
    margin-top: 45px;
    margin-right: 18%;
    }